<header>
      {% include '_includes/qr_code.html' %}
    {% if index %}
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </h1>
    {% else %}
      <h1 class="entry-title">{{ article.title|striptags }}</h1>
    {% endif %}
    <p class="meta">
      {% include '_includes/article_time.html' %}
      {% include '_includes/article_stats.html' %}
    </p>
</header>

{% if index %}
<div class="byline_index">
  <span class="byline author vcard">
    Posted by <span class="fn">
      {% if AUTHORS_SAVE_AS %}
        {% for author in article.authors %}
          <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{{ "," if not loop.last }}
        {% endfor %}
      {% else %}
        {% for author in article.authors %}{{ author }}{% endfor %}
      {% endif %}
    </span>
  </span>
  {% include '_includes/article_time.html' %}
</div>

  <div class="entry-content">{{ article.summary }}</div>
  {% if article.summary != article.content %}
  <footer>
    <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
  </footer>
  {% endif %}
{% else %}
  <div class="byline_index">
    {% include '_includes/article_infos.html' %}
  </div>
  <div class="entry-content">{{ article.content }}</div>
{% endif %}
