<header>
    {% if index %}
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </h1>
    {% else %}
      <h1 class="entry-title">{{ article.title|striptags }}</h1>
    {% endif %}
      <p class="meta">{% include '_includes/article_time.html' %}</p>
</header>

{% if index %}
  <div class="entry-content">{{ article.summary }}</div>
  <footer>
    <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
  </footer>
{% else %}
  <div class="entry-content">{{ article.content }}</div>
{% endif %}
