// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Lifted from pelican

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
